<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Civic Book" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Civic Book" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV.fetch('GOOGLE_API_KEY') %>&libraries=places"></script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 footer-social">
              <a href="/representative_profiles"><span class="typcn typcn-social-facebook">Representatives</span></a>
              <a href="/feedbacks"><span class="typcn typcn-social-dribbble">Surveys</span></a>
              <a href="/about"><span class="typcn typcn-social-twitter">About</span></a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 footer-copyright">
              &copy; 2016 - Civic Hack Athens
            </div>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
